#include "tegra20-colibri-512.dtsi"

/ {
	model = "Toradex Colibri T20 512MB on MX-4 MIL";
	compatible = "hostmobility,mx4-mil", "toradex,colibri_t20-512", "nvidia,tegra20";

	aliases {
		serial0 = &uarta;
		serial1 = &uartb;
		serial2 = &uartc;
		serial3 = &uartd;
	};

	leds {
		compatible = "gpio-leds";

		on {
			label = "led-on-2";
			gpios = <&gpio TEGRA_GPIO(AA, 1) GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		vehicle {
			label = "led-vehicle";
			gpios = <&gpio TEGRA_GPIO(D, 6) GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		rndis {
			label = "led-usb";
			gpios = <&gpio TEGRA_GPIO(L, 2) GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	pinmux@70000014 {
		state_default: pinmux {
			hdint {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};

			i2cddc {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};
			
			/* ACC-INT1 */
			acc_int1 {
				nvidia,pins = "sdc";
				nvidia,function = "sdio3";
				nvidia,pull = <TEGRA_PIN_PULL_DOWN>;
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
				nvidia,enable-input = <TEGRA_PIN_ENABLE>;
			};
			
			i2c1 {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};
			sdio4 {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};

			uarta {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};

			/* a.k.a uartb */
			irda {
				nvidia,pull = <TEGRA_PIN_PULL_DOWN>;
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};

			uartc {
				nvidia,pins = "uca";
				nvidia,function = "uartc";
				nvidia,pull = <TEGRA_PIN_PULL_NONE>;
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};

			uartd {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};

			spi4 {
				nvidia,pull = <TEGRA_PIN_PULL_UP>;
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};

			/* led-on-2 */
			sdio4 {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};

			/* led-vehicle & led-usb */
			vi {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};

			gpio_gmi {
				nvidia,pins = "ata", "atc", "atd", "ate",
					"dap1", "dap2", "dap4", "gpu", "spia",
					"spib", "spic", "ucb";
			};
		};
	};

	serial@70006000 {
		status = "okay";
	};

	serial@70006040 {
		compatible = "nvidia,tegra20-hsuart";
		status = "okay";
	};

	serial@70006200 {
		status = "okay";
	};

	serial@70006300 {
		compatible = "nvidia,tegra20-hsuart";
		status = "okay";
	};

	i2c_ddc: i2c@7000c400 {
		status = "okay";
		
	};
	
	i2c@7000c000 {
		status = "okay";
		clock-frequency = <100000>;
		
		mma8452q@1c {
			compatible = "fsl,mma8452";
			reg = <0x1c>;
			clock-frequency = <100000>;
			interrupt-parent = <&gpio>;
			interrupt-names = "INT1";
			interrupts = <TEGRA_GPIO(B, 6) GPIO_ACTIVE_HIGH>;
		};
	};

	usb@c5000000 {
		compatible = "nvidia,tegra20-udc";
		status = "okay";
		dr_mode = "peripheral";
	};

	usb-phy@c5000000 {
		status = "okay";
	};

	usb@c5008000 {
		status = "okay";
	};

	usb-phy@c5008000 {
		status = "okay";
	};

	/* SPI4: Colibri SSP */
	spi@7000da00 {
		status = "okay";
		spi-max-frequency = <25000000>;

		mx4_io_spi: spi@0 {
			compatible = "mx4_io_spi";
			reg = <0>;
			spi-max-frequency = <5000000>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(Y, 6) GPIO_ACTIVE_HIGH>;
			spi-cpha;
		};

		mx4_pic: spi@1 {
			compatible = "hostmobility,mx4_pic";
			reg = <1>;
			spi-max-frequency = <25000000>;
		};
	};

	regulators {
		regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "usb_host_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-boot-on;
			regulator-always-on;
			gpio = <&gpio TEGRA_GPIO(W, 2) GPIO_ACTIVE_HIGH>;
		};

		vcc_sd_reg: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "vcc_sd";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-boot-on;
			regulator-always-on;
		};
	};
};
