#include <dt-bindings/input/input.h>
#include "vf610-pinfunc.h"

/ {
    digital-io {
        compatible = "gpio-keys";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_digin>;

        digin2 {
            label = "Digital-in-2";
            gpios = <&gpio2 10 GPIO_ACTIVE_HIGH>;
            linux,code = <KEY_POWER>;
            debounce-interval = <10>;
            gpio-key,wakeup;
        };  

        digin3 {
            label = "Digital-in-3";
            gpios = <&gpio2 9 GPIO_ACTIVE_HIGH>;
            linux,code = <KEY_POWER>;
            debounce-interval = <10>;
            gpio-key,wakeup;
        };  
    };
};

&iomuxc {
    vf610-colibri {
        pinctrl_digin: gpiokeys {
            fsl,pins = <
                VF610_PAD_PTB20__GPIO_42    0x219d
                VF610_PAD_PTB19__GPIO_41    0x219d
            >;
        };
    };
};
